# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
/.next/
/out/
next-env.d.ts

# Production
/build

# Logs & misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
_install.log

# TypeScript
*.tsbuildinfo

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
